.About-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About-inner {
  width: 75%;
}

.About-border {
  border-bottom: 2px solid #333333;
}

.Chicken-Coup {
  text-align: center;
}

.Chicken-Coup-Inner {
  margin: 0 auto;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.Chicken-Box {
  border: solid 0.8px navy;  
  border-radius: 10px;
  background: lightgray;
  padding: 20px;
}

.Chicken-Box img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.Overlay-Outer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(243, 246, 248, 0.6);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.Overlay-Inner {
  background: rgb(253, 253, 253);
  color: rgb(3, 3, 3);
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(280px, 1fr);
  place-items: center;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 9px 5px 2px #0000004d;
}


.Overlay-Inner p {
  font-weight: 900;
}

.Overlay-Inner img {

  width: 100%;  
}