.Popup-Cart {
  position: fixed;
  bottom: -400px;
  right: 0;
  transition: bottom 0.5s;
  background: rgb(170, 179, 174);
  color: rgb(23, 24, 24);
  padding: 0 10px;
  border-radius: 3px;
  height: 400px;
  width: 320px;
  overflow: scroll;
  font-size: 0.75rem;
}

.Cart-Visible {
  bottom: 0;
}

.Cart-Peeping {
  bottom: 20px;
}

.Popup-Minimizer {
  color: white;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 30px;
  font-family: arial;
}

.Popup-Minimizer:hover {
  color:rgb(216, 209, 209);
}

.Cart-Grid-Titles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
}

.Cart-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Cart-Incrementer * {
  display: inline-block;
}

.Cart-Quantity-Number {
  padding: 10px;
  width: 15px;
  text-align: center;
}

.Cart-Incrementer button {
  border: solid rgb(247, 243, 243) 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
  font-family: 'Unkempt', cursive; 
  height: auto;
  font-weight: 600;
}
.Cart-Incrementer button:hover {
  background-color: blue;
  border-color: black;
}


.Checkout-Button {
  border: solid rgb(247, 243, 243) 2px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
  font-family: 'Unkempt', cursive; 
  font-size: 1.1rem;
  font-weight: 600;
  width: 200px;
  margin-top: 40px;
  float: right;
}

.Checkout-Button:hover {
  background-color: blue;
  border-color: black;
}