.Popup-Cart {
  position: fixed;
  bottom: -400px;
  right: 0;
  transition: bottom 0.5s;
  background: rgb(170, 179, 174);
  color: rgb(23, 24, 24);
  padding: 0 10px;
  border-radius: 3px;
  height: 400px;
  width: 320px;
  overflow: scroll;
  font-size: 0.75rem;
}

.Cart-Visible {
  bottom: 0;
}

.Cart-Peeping {
  bottom: 20px;
}

.Popup-Minimizer {
  color: white;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 30px;
  font-family: arial;
}

.Popup-Minimizer:hover {
  color:rgb(216, 209, 209);
}