.CartGrid {
  display: grid;
}

.CartGrid-Headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Cart-Items {
  display: grid;
  grid-template-columns: 1fr;
}

.Cart-Item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.CartGrid-Border {
  border-bottom: 2px solid #333333;
}

.CartGrid-Totals {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Cart-Quantity .Cart-Button {
  display: inline;
  border: solid rgb(82, 82, 82) 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
  font-family: 'Unkempt', cursive; 
  height: auto;
  font-weight: 600;
}

.Cart-Quantity .Cart-Button:hover {
  background-color: blue;
  border-color: black;
}

.Cart-Quantity p {
  display: inline;
  margin: 0 10px;
}

.CartGrid-Buttons {
  float: right;
}

.CartGrid-Pay-Buttons {
  border: solid rgb(82, 82, 82) 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
  font-family: 'Unkempt', cursive; 
  height: auto;
  font-weight: 600;
  padding: 10px;
  width: 200px;
  font-size: 1.1rem;
  margin: 20px;
}

.CartGrid-Pay-Buttons:hover {
  background-color: blue;
  border-color: black;
}

.Cart-Button-Not-Available {
  background: grey;
  color:black;
}

.Cart-Button-Not-Available:hover {
  background: grey;
  color:black;
}

.No-Content-Popup {
  display: none;
}

.Cart-Button-Not-Available:hover .No-Content-Popup {
  display: block;
}

@media screen and (max-width: 450px) {
  .CartGrid-Headings h3 {
    font-size: 1rem;
  }
  .Cart-Items h3 {
    font-size: 1rem;
  }
}