.payment-label {
  display: block;
  font-weight: 900;
}

.payment-input {
  margin: 20px 0;
  font-size: 0.9rem;
}

.payment-textarea {
  border: 1.5px solid;
  border-radius: 2px;
  padding: 10px; 
  width: 80%;
  resize: none;
  overflow: auto;
  font-size: 0.9rem;
}

.payment-text {
  width: 80%;
  border: 1.5px solid;
  border-radius: 2px;
  padding: 10px;

}