.user-nav-link {
  border: none; 
  padding: 0px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
  font-family: 'Unkempt', cursive; 
  font-size: rem;
  font-weight: 600;
}

.user-nav-link:hover {
  background-color: rgb(169, 169, 172);
}