.user-nav-link {
  border: none; 
  border-radius:3px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
  font-family: 'Unkempt', cursive; 
  font-size: 1.1rem;
  font-weight: 600;
}

.user-nav-link:hover {
  background-color: blue;
}

@media screen and (max-width: 450px) {
  .user-nav-link {
    font-size: 0.9rem;
    padding: 2px;
  }
}